/* AnswerTypeSelector.css */
.custom-answer-type-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button-container {
    display: flex;
    gap: 10px; /* Adjust the gap between buttons */
  }
  
  .custom-btn {
    background-color: black; /* Specify your own color */
    color: #fff; /* Text color */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 250px;
  }
  
  .custom-btn.active {
    background-color: #FF5701; /* Specify your own color for the active state */
  }
  