.TopFilter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 87, 1);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 65px;
}
  
.date-input,
.zipcode {
    margin-right: 10px;
}
  
.date-input {
    /* background-color: #84d2f3; */
    border-radius: 10px;
 }
  
.datein {
    border-radius: 10px;
}
  
.secondline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Added margin-top to separate from the table */
    margin-bottom: 1vh;
}
  
.compare {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
  
.compare select {
    display: flex;
    border-radius: 5px;
    padding: 2px;
    margin-right: 5px;
}
  
.secondline .apply-button {
    height: 50px;
    width: 100px;
    border-radius: 15px;
    background-color:  rgb(255, 87, 1);
}

.secondline button {
    margin-top: 0;
    position: relative;
    margin-bottom: 0vh;
    z-index: 1;
    right: 0;
    display: block;
}

/* Any other specific styles for buttons within .secondline */
  
.secondline .apply-button:hover {
    background-color: hsl(30, 63%, 50%);
}
  
.secondline .apply-button:active {
    background-color: hsl(114, 25%, 71%);
}

.search-container{
    display: flex;
    align-items: end;
    margin: 0;
    /* margin-right: 5vw !important; */
}

.carbon-table {
    max-height: 35vh; /* Set the maximum height for the table */
    overflow-y: auto; /* Enable vertical scrolling */
  }

.tableclass {
    width: 100%;
    margin: 0;
    padding: 0vh;
    border-collapse: collapse;
}
  

.tableclass th{
    position: sticky;
    top: 0;
  
}

.tableclass th,
.tableclass td {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
}
  
.tableclass th {
    background-color: #f2f2f2;
    font-weight: bold;
}
  
  
.tableclass tbody tr:hover {
    background-color: #f5f5f5;
}

.graphs {
    display: flex;
    justify-content: center;
}
  
.chart-container {
    width: 50%;
    margin: auto;
}

.chart-description {
    margin-top: 1vh;
    margin-left: 3.2vw;
    text-align: center;
    /* margin-bottom: 10px; */
}
  
.chart-description h2 {
    text-align: left;
    color: #333 !important; 
    margin-bottom: 0;
}
  
.chart-description p {
    text-align: left;
    color: #555; 
}

.average-data-graph{
    margin-top: 2.5vh;
}

.chart-description2 h2 {
    margin-left: 4.5vw;
    text-align: left !important;
    color: #333 !important; 
    margin-bottom: 2vh;
    font-size: 1.8rem;
}

.graph2 {
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
.chart-container2 {
    width: 50%;
    /* margin: auto; */
    text-align: center; 
    margin-top: 5vh;
    margin-left: 17.5vw;
    margin-bottom: 5vh;
}
