.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #ffffff;
    height: 1810px;
    position: relative;
    width: 1440px;
  }
  
  .desktop .overlap {
    height: 29px;
    left: 0;
    position: absolute;
    top: 105px;
    width: 1440px;
  }
  
  .desktop .line {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 28px;
    width: 1440px;
  }
  
  .desktop .group {
    height: 29px;
    left: 106px;
    position: absolute;
    top: 0;
    width: 1236px;
  }
  
  .desktop .group-2 {
    height: 29px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1129px;
  }
  
  .desktop .text-wrapper {
    color: #000000;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    left: 1053px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 2px;
  }
  
  .desktop .group-wrapper {
    height: 29px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1006px;
  }
  
  .desktop .overlap-group-wrapper {
    height: 29px;
  }
  
  .desktop .overlap-group {
    height: 29px;
    position: relative;
    width: 1006px;
  }
  
  .desktop .nav-bar-highlighter {
    background-color: #a7c8a3;
    height: 29px;
    left: 793px;
    position: absolute;
    top: 0;
    width: 110px;
  }
  
  .desktop .nav-bar-wrapper {
    height: 27px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 1006px;
  }
  
  .desktop .nav-bar {
    height: 27px;
    position: relative;
    width: 1016px;
  }
  
  .desktop .text-wrapper-2 {
    color: #000000;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    left: 619px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 54px;
  }
  
  .desktop .text-wrapper-3 {
    color: #000000;
    font-family: "Outfit-ExtraBold", Helvetica;
    font-size: 20px;
    font-weight: 800;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 208px;
  }
  
  .desktop .text-wrapper-4 {
    color: #000000;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    left: 709px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 2px;
    width: 60px;
  }
  
  .desktop .text-wrapper-5 {
    color: #000000;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    left: 933px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 73px;
  }
  
  .desktop .text-wrapper-6 {
    color: #000000;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    left: 802px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 2px;
  }
  
  .desktop .text-wrapper-7 {
    color: #000000;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    left: 1165px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .desktop .q-pattern {
    background-image: url(./rectangle-2.svg);
    background-size: 100% 100%;
    height: 109px;
    left: 137px;
    position: absolute;
    top: 175px;
    width: 1167px;
  }
  
  .desktop .rectangle {
    background-color: #ffffff;
    border-radius: 300px;
    height: 50px;
    left: 70px;
    position: relative;
    top: 29px;
    width: 1019px;
  }
  
  .desktop .overlap-2 {
    height: 201px;
    left: 222px;
    position: absolute;
    top: 356px;
    width: 998px;
  }
  
  .desktop .ques-toggle {
    height: 91px;
    left: 0;
    position: absolute;
    top: 0;
    width: 998px;
  }
  
  .desktop .overlap-3 {
    height: 91px;
    position: relative;
    width: 996px;
  }
  
  .desktop .p {
    color: #000000;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 26px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 996px;
  }
  
  .desktop .toogle-switch {
    height: 32px !important;
    left: 912px !important;
    position: absolute !important;
    top: 0 !important;
    width: 64px !important;
  }
  
  .desktop .overlap-wrapper {
    height: 91px;
    left: 0;
    position: absolute;
    top: 82px;
    width: 998px;
  }
  
  .desktop .text-wrapper-8 {
    color: #000000;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 26px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 172px;
    white-space: nowrap;
    width: 996px;
  }
  
  .desktop .overlap-4 {
    background-color: #d9d9d9;
    border-radius: 20px;
    height: 968px;
    left: 222px;
    position: absolute;
    top: 693px;
    width: 996px;
  }
  
  .desktop .text-wrapper-9 {
    color: #000000;
    font-family: "Outfit-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 474px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 590px;
  }
  
  .desktop .text-wrapper-10 {
    color: #000000;
    font-family: "Outfit-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 331px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 582px;
  }
  
  .desktop .text-wrapper-11 {
    color: #000000;
    font-family: "Outfit-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 304px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 583px;
  }
  
  .desktop .overlap-5 {
    height: 45px;
    left: 201px;
    position: absolute;
    top: 29px;
    width: 237px;
  }
  
  .desktop .option-select {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 237px;
  }
  
  .desktop .text-wrapper-12 {
    color: #000000;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 63px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 172px;
  }
  
  .desktop .ellipse {
    background-color: #ffffff;
    border: 5px solid;
    border-color: #000000;
    border-radius: 20px/17.5px;
    height: 35px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
  }
  
  .desktop .ellipse-2 {
    background-color: #000000;
    border-radius: 11.5px/8.5px;
    height: 17px;
    left: 8px;
    position: absolute;
    top: 9px;
    width: 23px;
  }
  
  .desktop .text-wrapper-13 {
    color: #000000;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 26px;
    font-weight: 600;
    left: 23px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 90px;
  }
  
  .desktop .text-wrapper-14 {
    color: #000000;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 26px;
    font-weight: 600;
    left: 106px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 303px;
  }
  
  .desktop .text-wrapper-15 {
    color: #000000;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 26px;
    font-weight: 600;
    left: 109px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 385px;
  }
  
  .desktop .button-selection {
    height: 47px;
    left: 101px;
    position: absolute;
    top: 137px;
    width: 185px;
  }
  
  .desktop .div-wrapper {
    background-color: #a7c8a3b2;
    border-radius: 10px;
    height: 47px;
    position: relative;
    width: 183px;
  }
  
  .desktop .text-wrapper-16 {
    color: #000000;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 12px;
    white-space: nowrap;
    width: 183px;
  }
  
  .desktop .button {
    all: unset;
    box-sizing: border-box;
    height: 47px;
    left: 611px;
    position: absolute;
    top: 768px;
    width: 185px;
  }
  
  .desktop .button-selection-2 {
    height: 47px;
    left: 304px;
    position: absolute;
    top: 137px;
    width: 185px;
  }
  
  .desktop .button-selection-3 {
    height: 47px;
    left: 507px;
    position: absolute;
    top: 137px;
    width: 185px;
  }
  
  .desktop .overlap-6 {
    background-color: #de5858b2;
    border-radius: 10px;
    height: 47px;
    position: relative;
    width: 183px;
  }
  
  .desktop .button-selection-4 {
    height: 47px;
    left: 711px;
    position: absolute;
    top: 136px;
    width: 186px;
  }
  
  .desktop .overlap-7 {
    background-color: #de5858b2;
    border-radius: 10px;
    height: 47px;
    position: relative;
    width: 184px;
  }
  
  .desktop .text-wrapper-17 {
    color: #000000;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 12px;
    white-space: nowrap;
    width: 184px;
  }
  
  .desktop .button-selection-5 {
    height: 47px;
    left: 201px;
    position: absolute;
    top: 208px;
    width: 186px;
  }
  
  .desktop .button-selection-6 {
    height: 47px;
    left: 407px;
    position: absolute;
    top: 208px;
    width: 185px;
  }
  
  .desktop .button-selection-7 {
    height: 47px;
    left: 604px;
    position: absolute;
    top: 208px;
    width: 191px;
  }
  
  .desktop .overlap-8 {
    height: 47px;
    position: relative;
    width: 189px;
  }
  
  .desktop .rectangle-2 {
    background-color: #de5858b2;
    border-radius: 10px;
    height: 47px;
    left: 6px;
    position: absolute;
    top: 0;
    width: 183px;
  }
  
  .desktop .text-wrapper-18 {
    color: #000000;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 10px;
    white-space: nowrap;
    width: 183px;
  }
  
  .desktop .option-select-2 {
    height: 45px;
    left: 516px;
    position: absolute;
    top: 29px;
    width: 382px;
  }
  
  .desktop .text-wrapper-19 {
    color: #000000;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 63px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 317px;
  }
  
  .desktop .overlap-9 {
    background-color: #84d2f3;
    border-radius: 10px;
    height: 40px;
    left: 712px;
    position: absolute;
    top: 301px;
    width: 245px;
  }
  
  .desktop .text-wrapper-20 {
    color: #000000;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 2px;
    white-space: nowrap;
    width: 232px;
  }
  
  .desktop .group-3 {
    height: 40px;
    left: 712px;
    position: absolute;
    top: 382px;
    width: 247px;
  }
  
  .desktop .overlap-10 {
    background-color: #84d2f3;
    border-radius: 10px;
    height: 40px;
    position: relative;
    width: 245px;
  }
  
  .desktop .text-wrapper-21 {
    color: #000000;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 4px;
    white-space: nowrap;
    width: 232px;
  }
  
  .desktop .group-4 {
    height: 40px;
    left: 509px;
    position: absolute;
    top: 552px;
    width: 179px;
  }
  
  .desktop .overlap-11 {
    background-color: #84d2f3;
    border-radius: 10px;
    height: 40px;
    position: relative;
    width: 177px;
  }
  
  .desktop .text-wrapper-22 {
    color: #000000;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 9px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 4px;
    white-space: nowrap;
    width: 168px;
  }
  
  .desktop .group-5 {
    height: 40px;
    left: 511px;
    position: absolute;
    top: 622px;
    width: 179px;
  }
  
  .desktop .group-6 {
    height: 40px;
    left: 714px;
    position: absolute;
    top: 551px;
    width: 179px;
  }
  
  .desktop .group-7 {
    height: 40px;
    left: 714px;
    position: absolute;
    top: 626px;
    width: 179px;
  }
  
  .desktop .group-8 {
    height: 40px;
    left: 305px;
    position: absolute;
    top: 301px;
    width: 185px;
  }
  
  .desktop .overlap-12 {
    background-color: #ffffff;
    border-radius: 10px;
    height: 40px;
    position: relative;
    width: 183px;
  }
  
  .desktop .text-wrapper-23 {
    color: #000000;
    font-family: "Outfit-Light", Helvetica;
    font-size: 24px;
    font-weight: 300;
    left: 18px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 10px;
    white-space: nowrap;
    width: 139px;
  }
  
  .desktop .group-9 {
    height: 40px;
    /* left: 202px;
    position: absolute;
    top: 770px; */
    width: 185px; 
    background-color: white;
  }
  
  .desktop .group-10 {
    height: 40px;
    /* left: 407px;
    position: absolute;
    top: 768px; */
    width: 185px;
  }
  
  .desktop .group-11 {
    height: 40px;
    left: 305px;
    position: absolute;
    top: 379px;
    width: 185px;
  }
  
  .desktop .text-wrapper-24 {
    color: #000000;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 582px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 391px;
  }
  
  .desktop .text-wrapper-25 {
    color: #000000;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 582px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 312px;
  }
  
  .desktop .overlap-13 {
    background-color: #ffffff;
    border-radius: 10px;
    height: 62px;
    left: 91px;
    position: absolute;
    top: 575px;
    width: 193px;
  }
  
  .desktop .text-wrapper-26 {
    color: #000000;
    font-family: "Outfit-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 15px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 16px;
  }
  
  .desktop .img {
    height: 1px;
    left: 508px;
    object-fit: cover;
    position: absolute;
    top: 606px;
    width: 387px;
  }
  
  .desktop .text-wrapper-27 {
    color: #000000;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 106px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 701px;
  }
  
  .desktop .group-12 {
    height: 55px;
    left: 306px;
    position: absolute;
    top: 856px;
    width: 387px;
  }
  
  .desktop .overlap-14 {
    background-color: #84d2f3;
    border-radius: 10px;
    height: 55px;
    position: relative;
    width: 385px;
  }
  
  .desktop .text-wrapper-28 {
    color: #000000;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 6px;
    width: 365px;
  }
  
  .desktop .button-selection-8 {
    height: 47px;
    left: 222px;
    position: absolute;
    top: 1707px;
    width: 996px;
  }
  
  .desktop .overlap-15 {
    background-color: #a7c8a3;
    border-radius: 10px;
    height: 47px;
    left: 709px;
    position: absolute;
    top: 0;
    width: 285px;
  }
  
  .desktop .text-wrapper-29 {
    color: #000000;
    font-family: "Outfit-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 12px;
    white-space: nowrap;
    width: 285px;
  }
  
  .desktop .button-selection-9 {
    all: unset;
    box-sizing: border-box;
    height: 47px;
    left: 0;
    position: absolute;
    top: 0;
    width: 287px;
  }
  
  .desktop .overlap-group-2 {
    background-color: #a7c8a3;
    border-radius: 10px;
    height: 47px;
    position: relative;
    width: 285px;
  }
  
  .desktop .group-13 {
    height: 47px;
    left: 324px;
    position: absolute;
    top: 599px;
    width: 794px;
  }
  
  .desktop .button-selection-10 {
    height: 47px;
    left: 407px;
    position: absolute;
    top: 0;
    width: 389px;
  }
  
  .desktop .overlap-group-3 {
    background-color: #a7c8a3;
    border-radius: 10px;
    height: 47px;
    position: relative;
    width: 387px;
  }
  
  .desktop .text-wrapper-30 {
    color: #000000;
    font-family: "Outfit-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 12px;
    white-space: nowrap;
    width: 387px;
  }
  
  .desktop .button-selection-11 {
    height: 47px;
    left: 0;
    position: absolute;
    top: 0;
    width: 389px;
  }
  
  .desktop .overlap-16 {
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 47px;
    position: relative;
    width: 387px;
  }
  