.container{
    padding-top: 50px;
}

.horizontal-line {
    border-top: 1px solid #060606; /* 1px solid black line */
    width: 120px;
  }


.formula{
    padding-top: 40px 40px 40px 40px;
    margin-top: 30px;
    background-color: #988d8d13;
    padding-left: 20px;
    border-radius: 20px;
}

.btn-inpsave {
    background-color: #dcb5b5; /* Change this to the desired color */
    color: #fff; /* Text color */
    width: 100%;
    margin-top: 10px;
    border: #060606;
    
    
    /* Add any other styles you want for your button */
  }

  .caption{
    font-size: 12px;
    
  }
  
  
  .btn-primary {
    /* Add your button styles */
    width: 100%;
    border-radius: 50px;
    
  }

  .btn-info{
    margin-top: 10px;
    margin-bottom:10px;
  }