.switchcss{
width: 50px;
}

.answerContainer {
    width: 82%;
    padding: 20px 20px;
    border-radius: 7px;
    background-color: lightgray; /* Change the background color to make it stand out */
    /* padding: 10px; Add padding for better visibility */
    display: flex;
  justify-content: center;
  /* background-color: yellow; */
  align-items: center;
  }
  
  .parentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 30px;
    /* Change the background color to make it stand out */
    
 
  
  }
  .container{
   /* background-color: red; */
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 44px;
    font-weight: 600;
  }
 