/* Reset some default styles */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    background-color: #FFFFFF;
    color: #000000;
    margin-top: 40px;
}

.reset_password_container {
    margin: 0 auto;
    padding: 20px;
}

.reset_password {
    background-color: rgba(217, 217, 217, 0.12);
    padding: 20px 20px 90px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    max-width: 500px;
    border-radius: 20px;
    margin: 50px auto 50px;
    height: 500px;
}

.forgot_password h2 {
    font-size: 18px;
    margin-bottom: 20px;
    color: black;
}

.enterpassword,
.reenterpassword {
    background-color: rgb(255, 87, 1);
    padding: 15px;
    border: 1px solid #000;
    margin-bottom: 20px;
    text-align: left;
    border-radius: 20px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin: 0 auto;
    padding: 15px;
    display: block;
}


.passwordresetbutton {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.passwordresetbutton:hover {
    background-color: rgb(88, 83, 83);
}

.reset-error {
    color: red;
}