.top-nav {
    font-family: Arial, sans-serif;
    font-size: large;
    font-weight: 500;
    margin-top: 40px;
    text-align: right;
    border-bottom: 3px solid #333;
    margin-bottom: 70px;
}

a:link {
    text-decoration: none;
}


.admin-edit-header {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 40px;
}

.edit-title {
    font-family: Arial, sans-serif;
    font-size: larger;
    font-weight: 750;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.admin-edit-container {
    font-family: Arial, sans-serif;
    margin-top: 40px;
    margin-bottom: 70px;
}

.sidebar {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    cursor: pointer;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: hsl(114, 25%, 71%);
    width: 72px;
    z-index: 5;
    padding-bottom: 250px;
}

.attribute-names {
    padding-top: 10px;
    color: black;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
    border-bottom: 2px solid #333;
    align-items: center;
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

th {
    color: black;
    font-weight: 600 !important;
    background-color: white;
    position: sticky;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

input[type="checkbox"] {
    transform: scale(2.5);
    margin-left: 10px;
    margin-top: 11px !important;
}


.table-wrappercat {
    display: flex;
    max-height: 290px;
    width: 1350px;
    overflow-y: scroll;
}

.table-space {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

.table-space th,
.table-space td {
    padding: 8px;
    width: vw !important;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
}

.table-space th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table-space tbody tr:hover {
    background-color: #f5f5f5;
}

.data {
    padding-top: 10px;
    flex: column;
    justify-content: space-between;
    align-items: center;
}

.data input {
    width: 30px;
    cursor: pointer;
    height: 30px;
    color: black
}

/* admin_edit.css */
.savebuttoncat {
    background-color: #4CAF50;
    /* Green background */
    color: white;
    padding: 5px 10px;
    margin-top: -20px;
    height: 38px;
    left: 1300px;
    width: 80px;
    border: none;
    cursor: pointer;
}

.savebutton:hover {
    background-color: #45a049;
    /* Darker green on hover */
}

.editcat {
    background-color: red;
    color: white;
    padding: 5px 10px;
    margin-top: -20px;
    height: 38px;
    left: 1300px;
    width: 80px;
    border: none;
    cursor: pointer;
}

.edit:hover {
    background-color: rgb(223, 17, 17);
    /* Darker blue on hover */
}

.back {
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 500px;
    background-color: hsl(0, 0%, 0%);
    color: rgb(255, 255, 255);
    height: 50px;
    width: 100px;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    display: block;
}

.back:hover {
    cursor: pointer;
    background-color: rgb(53, 57, 53);
    color: white;
}

.error_message {
    color: red;
    margin: 0 auto;
    padding: 10px;
    background-color: #ffffff;
    /* Optional: Add a light background color for error messages */
    border: 1px solid #ebccd1;
    /* Optional: Add a border for error messages */
}

.success_message {
    color: #f6f6f6;
    margin: 0 auto;
    padding: 10px;
    background-color: #f37507;
    /* Optional: Add a light background color for error messages */
    border: 1px solid #ebccd1;
    /* Optional: Add a border for error messages */
}

.bottom-border {
    background-color: #A7C8A3;
    height: 30px;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-left: 0vw !important;
}
  