.Utility {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 40px;
}

.Utility_Details {
    font-family: Arial, sans-serif;
    font-size: larger;
    font-weight: 750;
    margin: 0;
}

.table-wrapper {
    display: flex;
    max-height: 290px;
    overflow-y: scroll;
}

.tabl-space {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

.tabl-space th,
.tabl-space td {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
}

.tabl-space th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.tabl-space tbody tr:hover {
    background-color: #f5f5f5;
}

.error-message {
    color: red;
    margin: 10px 0;
    padding: 10px;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
}

.save {
    margin-top: 10px;
    margin-left: 150px;
    margin-bottom: 500px;
    background-color: black;
    color:white;
    height: 50px;
    width: 100px;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    display: block;
}

.save:hover {
    cursor: pointer;
    background-color: rgb(19, 190, 19);
    color: white;
}

.back_option {
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 500px;
    background-color: black;
    color:white;
    height: 50px;
    width: 100px;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    display: block;
}

.back_option:hover {
    cursor: pointer;
    background-color: rgb(19, 190, 19);
    color: white;
}

.edit,.delete,.deletebutton {
    background-color: red;
    color: white;
    padding: 5px 10px;
    height: 38px;
    border: none;
    cursor: pointer;
    width: 5vw;
    border-radius: 10px;
}

.edit{
    margin-right: 1vw;
}
