.Utility {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 40px;
}

.Utility_Details {
    font-family: Arial, sans-serif;
    font-size: larger;
    font-weight: 750;
    margin: 0;
}

.Utilities.sidebar {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    cursor: pointer;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: hsl(114, 25%, 71%);
    width: 72px;
    z-index: 5;
    padding-bottom: 250px;
}

.Utilities.attribute-names {
    padding-top: 10px;
    color: black;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
    border-bottom: 2px solid #333;
    align-items: center;
}

.Utilities.sticky-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.Utilities th {
    color: black;
    font-weight: 600 !important;
    background-color: white;
    position: sticky;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

.Utilities input[type="checkbox"] {
    transform: scale(2.5);
    margin-left: 10px;
    margin-top: 11px !important;
}


.tables-wrapper {
    display: flex;
    max-height: 290px;
    overflow-y: scroll;
  }

  .tabls-space {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
  }

  .tabls-space th,
  .tabls-space td {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
  }

  .tabls-space th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  .tabls-space tbody tr:hover {
    background-color: #f5f5f5;
  }

  .tables-wrapper input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  .error-message {
    color: red;
    margin: 10px 0;
    padding: 10px;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
  }

  .back_option,
  .save {
    margin-top: 10px;
    background-color: hsl(0, 0%, 0%);
    color: rgb(255, 255, 255);
    height: 50px;
    width: 100px;
    border-radius: 15px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
  }

  .back_option:hover,
  .save:hover {
    background-color: rgb(52, 54, 52);
    color: white;
  }

  .bottom-border {
    background-color: #A7C8A3;
    height: 30px;
    width: 100%;
  }